.page {
    display: flex;
    flex-direction: column;
    position: relative;
}

.leaflet-container {
    height: 65vh;
    width: 130vh;
    margin: 0 auto;
}

.above-above-map {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: whitesmoke;
    
}

.above-above-map p {
    margin-top: -10px;
}

.above-map {
    display: flex;
    height: 15vh;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    gap: 40px
}

.map {
    display: flex;
    margin: 0 auto;
}

.next {
    position: absolute;
    height: 5vh;
    right: 0;
    top: 60%;
    margin-right: 90px;
}