html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

.bg {
    background-image: url("/background_stars.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.bg h1 {
    margin: 0;
}